## Connecting to database

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb+srv://Nolan:5002@clusternolan-tlcfu.mongodb.net/test")
mydb = myclient["pp2"]

In [3]:
mycol = mydb["customers"]

## Checking if our collection is existing

In [4]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

The collection exists.

## Inserting one record into collection

In [5]:
mydict = { "name": "Nurlan", "address": "Pushkina 13" }
x = mycol.insert_one(mydict)

In [6]:
x.inserted_id

ObjectId('5ea32ab555f84fc3ff474f20')

## Inserting dict into collection

In [7]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
y = mycol.insert_many(mylist)

In [8]:
y.inserted_ids

[ObjectId('5ea32ab555f84fc3ff474f21'),
 ObjectId('5ea32ab555f84fc3ff474f22'),
 ObjectId('5ea32ab555f84fc3ff474f23'),
 ObjectId('5ea32ab555f84fc3ff474f24'),
 ObjectId('5ea32ab555f84fc3ff474f25'),
 ObjectId('5ea32ab555f84fc3ff474f26'),
 ObjectId('5ea32ab555f84fc3ff474f27'),
 ObjectId('5ea32ab555f84fc3ff474f28'),
 ObjectId('5ea32ab555f84fc3ff474f29'),
 ObjectId('5ea32ab555f84fc3ff474f2a'),
 ObjectId('5ea32ab555f84fc3ff474f2b'),
 ObjectId('5ea32ab555f84fc3ff474f2c')]

## Inserting dict with specific ids

In [9]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
z = mycol.insert_many(mylist)

In [10]:
z.inserted_ids

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## "finding" specific record from collection

In [11]:
xFindID = mycol.find_one()
xFindID

{'_id': ObjectId('5ea32ab555f84fc3ff474f20'),
 'name': 'Nurlan',
 'address': 'Pushkina 13'}

## Printing out all records in collection

In [12]:
for i in mycol.find():
  print(i)

{'_id': ObjectId('5ea32ab555f84fc3ff474f20'), 'name': 'Nurlan', 'address': 'Pushkina 13'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f21'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f22'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f23'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f24'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f25'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f26'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f27'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f28'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f29'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## printing records without ids

In [13]:
for i in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(i)

{'name': 'Nurlan', 'address': 'Pushkina 13'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

## printing record without address coloumn

In [14]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5ea32ab555f84fc3ff474f20'), 'name': 'Nurlan'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f21'), 'name': 'Amy'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f22'), 'name': 'Hannah'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f23'), 'name': 'Michael'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f24'), 'name': 'Sandy'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f25'), 'name': 'Betty'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f26'), 'name': 'Richard'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f27'), 'name': 'Susan'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f28'), 'name': 'Vicky'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f29'), 'name': 'Ben'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2a'), 'name': 'William'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2b'), 'name': 'Chuck'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2c'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

## printing out without id and address

In [15]:
for i in mycol.find({},{ "_id": 0, "address": 0}):
  print(i)

{'name': 'Nurlan'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

## printing only records' names

In [16]:
for i in mycol.find({},{ "_id": 0,"name": 1}):
  print(i)

{'name': 'Nurlan'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

## Finding address that starts from S with help of RegEX

In [17]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)

In [18]:
for i in mydoc:
  print(i)

{'_id': ObjectId('5ea32ab555f84fc3ff474f26'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## sort the result by ascending order

In [19]:
mydoc = mycol.find().sort("name") 
for i in mydoc:
  print(i)

{'_id': ObjectId('5ea32ab555f84fc3ff474f21'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f29'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f25'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f22'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f23'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f20'), 'name': 'Nurlan', 'address': 'Pushkina 13'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f26'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f24'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f27'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f28'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

## sort the result by descending order

In [20]:
mydoc = mycol.find().sort("name", -1)
for i in mydoc:
  print(i)

{'_id': ObjectId('5ea32ab555f84fc3ff474f2a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f28'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f27'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f24'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f26'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f20'), 'name': 'Nurlan', 'address': 'Pushkina 13'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f23'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f22'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f2b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f25'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f29'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5ea32ab555f84fc3ff474f21'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

## dropping collection

In [21]:
#mycol.drop()

## Updating value

In [22]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Pavlova 21" } }

mycol.update_one(myquery, newvalues)

In [23]:
myquery = { "address": "Pavlova 21" }

mydoc = mycol.find(myquery)

for i in mydoc:
  print(i)

{'_id': ObjectId('5ea32ab555f84fc3ff474f23'), 'name': 'Michael', 'address': 'Pavlova 21'}